<div class="relative isolate px-6 pt-14 lg:px-8 ">
  <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
    <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
    <div class="hidden sm:mb-8 sm:flex sm:justify-center">
<!--      <div class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">-->
<!--        Announcing our next round of funding. <a href="#" class="font-semibold text-indigo-600"><span class="absolute inset-0" aria-hidden="true"></span>Read more <span aria-hidden="true">&rarr;</span></a>-->
<!--      </div>-->
    </div>
    <div class="text-center">
      <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">we are committed to delivering the best freelance services </h1>
      <p class="mt-6 text-lg leading-8 text-gray-600">we pride ourselves on offering a diverse range of freelance services tailored to meet the specific needs of our clients. Our team of experienced professionals is committed to delivering top-quality solutions that drive success and exceed expectations. Whether you need a stunning website, compelling content, innovative marketing strategies, or cutting-edge software, we have the expertise to bring your vision to life.</p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="#contact" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Join With Us</a>
<!--        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Learn more <span aria-hidden="true">→</span></a>-->
      </div>
    </div>
  </div>
  <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
    <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
</div>

<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
  <div class="absolute inset-0 -z-10 overflow-hidden">
    <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M100 200V.5M.5 .5H200" fill="none" />
        </pattern>
      </defs>
      <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
        <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
      </svg>
      <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
    </svg>
  </div>
  <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
      <div class="lg:pr-4">
        <div class="lg:max-w-lg">
          <p class="text-base font-semibold leading-7 text-indigo-600">we specialize in creating visually appealing and highly interactive user interfaces</p>
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Front-End Development</h1>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Responsive Web Design:</strong> Using HTML5, CSS3, and cutting-edge JavaScript frameworks such as Angular, React, and Vue.js to develop websites that are fully responsive and mobile-friendly. Our designs ensure optimal performance across all devices, providing users with a seamless experience regardless of screen size.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">UI/UX Design:</strong> Our team of skilled designers crafts user-centered designs that prioritize intuitive navigation and an engaging user experience. We focus on understanding user behaviors and preferences to create interfaces that are not only beautiful but also highly functional.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Single Page Applications (SPAs):</strong> We develop SPAs that offer faster, more dynamic user interactions. By using frameworks like Angular and React, we create applications that load a single HTML page and dynamically update content as the user interacts with the app, providing a smooth and efficient user experience.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Progressive Web Apps (PWAs):</strong> Creating PWAs that provide an app-like experience on the web with offline capabilities and enhanced performance. PWAs combine the best of web and mobile apps, offering features such as push notifications, background sync, and home screen installation.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Performance Optimization:</strong> Ensuring fast load times and smooth performance by optimizing code, images, and other assets. We use techniques like lazy loading, code splitting, and image compression to enhance website speed and user experience.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Accessibility:</strong> Designing and developing interfaces that are accessible to users with disabilities, adhering to WCAG standards. We ensure our applications are usable by people with various disabilities, including visual, auditory, and motor impairments.
          </p>
        </div>
      </div>
    </div>
    <div class="-ml-36 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
      <img class=" max-w-none  p-4" src="./assets/a2.svg" alt="">
    </div>
  </div>
</div>

<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
  <div class="absolute inset-0 -z-10 overflow-hidden">
    <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M100 200V.5M.5 .5H200" fill="none" />
        </pattern>
      </defs>
      <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
        <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
      </svg>
      <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
    </svg>
  </div>
  <div class="mx-auto grid  grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
    <div class="lg:col-span-2 lg:col-start-2 lg:row-start-1 lg:mx-auto lg:grid lg:w-full   lg:gap-x-8  lg:px-8">
      <div class="lg:pr-4 ">
        <div class="w-full">
          <p class="text-base font-semibold leading-7 text-indigo-600">Our back-end development services ensure robust and scalable server-side applications</p>
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Back-End Development</h1>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">API Development:</strong> Creating secure and efficient APIs for seamless communication between different parts of an application. We design RESTful and GraphQL APIs that are easy to integrate and provide reliable data exchange and functionality.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Database Management:</strong> Expertise in SQL and NoSQL databases, including MySQL, PostgreSQL, MongoDB, and DynamoDB. We handle everything from database design and implementation to maintenance and optimization, ensuring data integrity and performance.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Server-Side Programming:</strong> Utilizing technologies such as Node.js, Python, Ruby on Rails, and Java, we build and maintain the core logic, architecture, and data handling of applications. Our solutions are designed to be scalable, secure, and efficient, catering to the unique needs of each project.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Microservices Architecture:</strong> Designing and implementing microservices architectures for scalable and maintainable systems. We break down complex applications into smaller, independent services that can be developed, deployed, and scaled individually.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Authentication & Authorization:</strong> Implementing robust security measures, including OAuth, JWT, and SAML for user authentication and authorization. We ensure secure access to applications and data by managing user identities and permissions effectively.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Scalability & Load Balancing:</strong> Ensuring applications can handle increased loads and traffic by implementing scalable architectures and load balancing techniques. We use tools like Nginx, HAProxy, and cloud-based load balancers to distribute traffic and improve application performance.
          </p>
        </div>
      </div>
    </div>
    <div class=" -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-1 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
      <img class="w-full max-w-none ring-1 ring-gray-400/10 " src="./assets/a1.svg" alt="">
    </div>
  </div>
</div>

<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
  <div class="absolute inset-0 -z-10 overflow-hidden">
    <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M100 200V.5M.5 .5H200" fill="none" />
        </pattern>
      </defs>
      <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
        <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
      </svg>
      <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
    </svg>
  </div>
  <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
      <div class="lg:pr-4">
        <div class="lg:max-w-lg">
          <p class="text-base font-semibold leading-7 text-indigo-600">Comprehensive mobile app development services for both Android and iOS platforms</p>
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Mobile Development</h1>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Native App Development:</strong>
            Building high-performance native apps using Swift for iOS and Kotlin/Java for Android. Our native apps are designed to leverage the full capabilities of each platform, delivering superior performance and user experience.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Cross-Platform Development:</strong>
            Utilizing frameworks like Flutter and React Native, we develop apps that run smoothly on multiple platforms. This approach ensures faster development times and reduced costs while maintaining high quality and performance.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">App Maintenance and Support:</strong>
            We offer ongoing maintenance, updates, and support to ensure that your apps remain up-to-date and function optimally. Our services include bug fixes, performance enhancements, and the addition of new features based on user feedback and market trends.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Mobile UI/UX Design:</strong>
            Designing intuitive and engaging mobile interfaces that provide a seamless user experience. We focus on creating mobile-first designs that are easy to navigate and visually appealing, ensuring a positive user experience.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Integration with Wearables:</strong>
            Developing apps that integrate with wearable devices, providing extended functionality and user engagement. We create solutions for smartwatches, fitness trackers, and other wearable technologies, enhancing user interactions and data collection.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Mobile Security:</strong>
            Implementing security measures to protect user data and ensure app integrity. We use techniques like data encryption, secure APIs, and regular security audits to safeguard applications against threats.
          </p>
        </div>
      </div>
    </div>
    <div class=" -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
      <img class=" max-w-none   p-4  ring-1 ring-gray-400/10 " src="./assets/a3.svg" alt="">
    </div>
  </div>
</div>



<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
  <div class="absolute inset-0 -z-10 overflow-hidden">
    <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M100 200V.5M.5 .5H200" fill="none" />
        </pattern>
      </defs>
      <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
        <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
      </svg>
      <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
    </svg>
  </div>
  <div class="mx-auto grid  grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
    <div class="lg:col-span-2 lg:col-start-2 lg:row-start-1 lg:mx-auto lg:grid lg:w-full   lg:gap-x-8  lg:px-8">
      <div class="lg:pr-4 ">
        <div class="w-full">
          <p class="text-base font-semibold leading-7 text-indigo-600">designed to provide scalable, reliable, and secure cloud infrastructure</p>
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Cloud Solutions</h1>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">AWS Architectures:</strong>
            Designing and deploying comprehensive AWS solutions, including EC2 for compute power, S3 for storage, Lambda for serverless computing, and RDS for managed databases. Our AWS architectures are tailored to meet the specific needs of each client, ensuring cost-effectiveness and scalability.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Cloud Migration:</strong>
            Assisting businesses in migrating their existing infrastructure to the cloud with minimal disruption. Our migration services include planning, execution, and post-migration support, ensuring a smooth transition and optimized performance in the cloud environment.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">DevOps Services:</strong>
            Our DevOps services encompass the implementation of CI/CD pipelines, infrastructure as code (IaC), and containerization using Docker and Kubernetes. We aim to automate and streamline the development and deployment processes, enhancing efficiency and reducing time-to-market.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Cloud Storage Solutions:</strong>
            Offering scalable and secure cloud storage options for data management and backup. We provide solutions like Amazon S3, Google Cloud Storage, and Azure Blob Storage, ensuring data durability and accessibility.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Disaster Recovery:</strong>
            Implementing disaster recovery plans to ensure business continuity and data protection. We design and deploy backup and recovery solutions that minimize downtime and data loss in the event of an outage or disaster.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Cloud Security:</strong>
            Ensuring robust security practices for cloud infrastructure, including encryption, IAM, and compliance with industry standards. We protect cloud environments against threats by implementing security best practices and continuous monitoring.          </p>
        </div>
      </div>
    </div>
    <div class=" -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-1 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
      <img class="w-full max-w-none ring-1 ring-gray-400/10 " src="./assets/a4.svg" alt="">
    </div>
  </div>
</div>

<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
  <div class="absolute inset-0 -z-10 overflow-hidden">
    <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M100 200V.5M.5 .5H200" fill="none" />
        </pattern>
      </defs>
      <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
        <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
      </svg>
      <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
    </svg>
  </div>
  <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
      <div class="lg:pr-4">
        <div class="lg:max-w-lg">
          <p class="text-base font-semibold leading-7 text-indigo-600">Leveraging AI to build intelligent applications that drive business innovation</p>
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Artificial Intelligence</h1>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Machine Learning Models:</strong>
            Developing and deploying machine learning models for various applications, including predictive analytics, natural language processing, and image recognition. Our models are designed to provide actionable insights and automate complex tasks, driving efficiency and innovation.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">AI Integration:</strong>
            Integrating AI capabilities into existing applications to enhance functionality and user experience. Our AI solutions can be tailored to perform tasks such as data analysis, process automation, and customer engagement, adding significant value to your applications.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Chatbots and Virtual Assistants:</strong>
            Creating AI-powered chatbots and virtual assistants for customer support and engagement. These intelligent agents can handle a wide range of tasks, from answering customer queries to processing orders, improving efficiency and user satisfaction.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Predictive Analytics:</strong>
            Utilizing AI to analyze data and predict future trends, helping businesses make informed decisions. We develop predictive models that provide insights into customer behavior, market trends, and operational performance.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Natural Language Processing (NLP):</strong>
            Developing NLP applications for tasks such as sentiment analysis, language translation, and automated text generation. Our NLP solutions enable businesses to understand and interact with human language in meaningful ways.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Computer Vision:</strong>
            Implementing computer vision technologies for image and video analysis, object detection, and facial recognition. Our computer vision solutions can be used in various industries, including healthcare, retail, and security, to automate visual tasks and improve accuracy.
          </p>
        </div>
      </div>
    </div>
    <div class="-ml-36 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
      <img class="   p-4" src="./assets/a5.svg" alt="">
    </div>
  </div>
</div>

<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
  <div class="absolute inset-0 -z-10 overflow-hidden">
    <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M100 200V.5M.5 .5H200" fill="none" />
        </pattern>
      </defs>
      <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
        <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
      </svg>
      <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
    </svg>
  </div>
  <div class="mx-auto grid  grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
    <div class="lg:col-span-2 lg:col-start-2 lg:row-start-1 lg:mx-auto lg:grid lg:w-full   lg:gap-x-8  lg:px-8">
      <div class="lg:pr-4 ">
        <div class="w-full">
          <p class="text-base font-semibold leading-7 text-indigo-600">Big data solutions to help businesses harness the power of their data</p>
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"> Big Data solutions</h1>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Data Analytics:</strong>
            Providing advanced analytics services to derive actionable insights from large datasets. We use tools like Hadoop, Spark, and Tableau to analyze and visualize data, helping businesses make data-driven decisions.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Real-Time Data Processing:</strong>
            Utilizing tools like Apache Kafka and Apache Spark for real-time data processing and analysis. Our solutions enable businesses to process and analyze data as it is generated, providing timely insights and enhancing decision-making capabilities.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Data Warehousing:</strong>
            Designing and implementing data warehousing solutions that ensure efficient data storage and retrieval. Our solutions support large-scale data integration, enabling businesses to consolidate and analyze data from multiple sources.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Big Data Strategy:</strong>
            Developing comprehensive big data strategies to align with business goals and objectives. We help businesses identify key data sources, define metrics, and implement technologies to maximize the value of their data.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">ETL Processes:</strong>
            Implementing Extract, Transform, Load (ETL) processes to streamline data integration and preparation. We design ETL workflows that ensure data quality and consistency, enabling efficient data analysis.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-700">
            <strong class="text-xl font-black">Data Visualization:</strong>
            Creating interactive and insightful data visualizations using tools like Tableau, Power BI, and D3.js to help businesses understand and act on their data. Our visualizations make complex data easy to understand and interpret, driving better decision-making.
          </p>
        </div>
      </div>
    </div>
    <div class=" -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-1 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
      <img class="w-full max-w-none ring-1 ring-gray-400/10 " src="./assets/a6.svg" alt="">
    </div>
  </div>
</div>
