<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:max-w-4xl">
            <div class="flex justify-center flex-col">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl ">From The Showcase</h2>
            <p class="mt-2 text-lg leading-8 text-gray-600  font-bold">Thamizhi: Empowering Freelancers — Discover Our Diverse Skills and Talents!</p>
            </div>
            <div class="mt-16 space-y-20 lg:mt-20 lg:space-y-10">
                <div class="relative isolate flex flex-col gap-8 lg:flex-row">
                    <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-[40rem] lg:shrink-0">
                        <img src="/assets/oder.jpeg" alt="" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover">
                        <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
                    </div>
                    <div class="h-full max-w-xl">
                        <div class="flex items-center gap-x-4 text-xs">
                            <time datetime="2020-03-16" class="text-gray-500">March 15, 2024</time>
                            <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">.NET,   NEXT.JS</a>
                        </div>
                        <div class="group relative">
                            <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                <a href="#">
                                    <span class="absolute inset-0"></span>
                                    Delivery Management System
                                </a>
                            </h3>
                            <p class="mt-5 text-sm leading-6 text-gray-600">Built using NEXT.JS for the front-end and .NET for the backend, this delivery management system enables users to make deliveries to specified recipients, track delivery statuses, assign drivers, create new driver profiles, and register as users.</p>
                        </div>
                    </div>
                </div>
                <div class="relative  flex flex-col gap-8 lg:flex-row">
                    <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-[40rem] lg:shrink-0">
                        <img src="/assets/ems.png" alt="" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover">
                        <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
                    </div>
                    <div class="h-full max-w-xl">
                        <div class="flex items-center gap-x-4 text-xs">
                            <time datetime="2020-03-16" class="text-gray-500">April 20, 2024</time>
                            <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Svelte kit, Express js</a>
                        </div>
                        <div class="group relative">
                            <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                <a href="#">
                                    <span class="absolute inset-15"></span>
                                    Employee Management System
                                </a>
                            </h3>
                            <p class="mt-5 text-sm leading-6 text-gray-600">An Employee Management System uses Svelte Kit for frontend efficiency, Express.js for backend logic, SQLite3 for data storage, and GraphQL for optimized data querying, enhancing responsiveness and scalability in operations. We are implement the crud operations also.</p>
                        </div>
                    </div>
                </div>
                <div class="relative isolate flex flex-col gap-8 lg:flex-row">
                    <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-[40rem] lg:shrink-0">
                        <img src="/assets/warehouse.jpeg" alt="" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover">
                        <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
                    </div>
                    <div class="h-full max-w-xl">
                        <div class="flex items-center gap-x-4 text-xs">
                            <time datetime="2020-03-16" class="text-gray-500">May 10, 2024</time>
                            <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Angular,Express js</a>
                        </div>
                        <div class="group relative">
                            <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                <a href="#">
                                    <span class="absolute inset-0"></span>
                                    Warehouse Management System
                                </a>
                            </h3>
                            <p class="mt-5 text-sm leading-6 text-gray-600">Our Warehouse Management System leverages Angular for responsive frontend interfaces, Express for robust backend services, and SQLite memory for efficient data storage and retrieval, ensuring streamlined operations and scalability."</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
